<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Fixed Menu Example - Semantic</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>


    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>

</head>

<body>

    <div class="ui inverted segment">
        <div class="ui container inverted secondary pointing menu">
          <div class="item">
            <img src="/assets/logo.png" class="ui mini circular image">
            </div>
            <div class="left item">
            <a class="item" href="/home">Home</a>
            <a class="item">About</a>
          </div>
            <div class="right item">
                <i class="big user circle icon"></i>
            </div>
        </div>
    </div>

    <div class="ui main container">
        <h2 class="ui header">
  <i class="align left icon"></i>
  <div class="content">
    Dashboard
    <div class="sub header">Based on recent interactions</div>
  </div>
</h2>
        <br>
          

          
          
        
            <div class="ui raised blue segment">
        <div class="ui one column padded very relaxed grid">
            <div class="column">
                <h2 class="ui blue header">Cases</h2>
                <table class="ui selectable fixed single line celled table">
  <thead>
    <tr>
      <th>Case Number</th>
      <th>Status</th>
      <th>Stage</th>
      <th>Opened</th>
    </tr>
  </thead>
  <tbody>
    <% for(const item of cases) { %>
    <tr>
      <td><%= item.caseNumber %></td>
      <td><%= item.status %></td>
      <td><%= item.stage %></td>
      <td><%= new Date(item.opened) %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Add Case
        </div>
        <div class="ui small button">
          Show All
        </div>
        <div class="ui small  disabled button">
          Approve
        </div>
      </th>
    </tr>
  </tfoot>
</table>
            </div>
            <!-- <div class="column">
                <h1 class="ui header">Search placeholder</h1>
                <br>
            </div> -->

        </div>
        <!-- <div class="ui vertical divider">
            and
        </div> -->
    </div>
    
    <br>
    <div class="ui raised blue segment">
        <div class="ui one column padded very relaxed grid">
            <div class="column">
                <h2 class="ui blue header">Events</h2>
                <table class="ui selectable fixed single line celled table">
  <thead>
    <tr>
      <th>Event Number</th>
      <th>Type</th>
      <th>Description</th>
      <th>Case Number</th>
      <th>Work Item Number</th>
      <th>Status</th>
      <th>Contact Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% for(const item of events) { %>
    <tr>
      <td><%= item.eventNumber %></td>
      <td><%= item.type %></td>
      <td><%= item.description %></td>
      <td><%= item.caseNumber %></td>
      <td><%= item.workItemNumber %></td>
      <td><%= item.status %></td>
      <td><%= item.contactName %></td>
      <td><%= new Date(item.created) %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="8">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Create Event
        </div>
        <div class="ui small button">
          Show All
        </div>
        <div class="ui small  disabled button">
          Approve
        </div>
      </th>
    </tr>
  </tfoot>
</table>
            </div>
            <!-- <div class="column">
                <h1 class="ui header">Search placeholder</h1>
                <br>
            </div> -->

        </div>
        <!-- <div class="ui vertical divider">
            and
        </div> -->
    </div>

    <br>
    <div class="ui raised blue segment">
        <div class="ui one column padded very relaxed grid">
            <div class="column">
                <h2 class="ui blue header">Work Items</h2>
                <table class="ui selectable fixed single line celled table">
  <thead>
    <tr>
      <th>Work Item Number</th>
      <th>Status</th>
      <th>Process</th>
      <th>Area</th>
      <th>Sub Area</th>
      <th>Case Number</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% for(const item of workItems) { %>
    <tr>
      <td><%= item.workItemNumber %></td>
      <td><%= item.status %></td>
      <td><%= item.process %></td>
      <td><%= item.area %></td>
      <td><%= item.subArea %></td>
      <td><%= item.caseNumber %></td>
      <td><%= new Date(item.created) %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="7">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i> Create Work Item
        </div>
        <div class="ui small button">
          Show All
        </div>
        <div class="ui small  disabled button">
          Approve
        </div>
      </th>
    </tr>
  </tfoot>
</table>
            </div>
            <!-- <div class="column">
                <h1 class="ui header">Search placeholder</h1>
                <br>
            </div> -->

        </div>
        <!-- <div class="ui vertical divider">
            and
        </div> -->
    </div>
    </div>

    
   

    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Links</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Home</a>
                        <a href="#" class="item">About</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Copyright</h4>
                    <p>Copyright and license information</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/assets/logo.png" class="ui centered tiny circular image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</body>

</html>